
body {
  font-family: Arial, sans-serif;
  background-color: #34b9ee;
  margin: 0;
  padding: 0;
}


h1 {
  margin: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffffc4;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin: center;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

